h1 {
    background-color: #32a88b;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
}
body {

    font-family: 'Homemade Apple', cursive;
    text-align: center;

}
.image {
    position: relative;
    left:70px;
}
h2 {
    text-align:center;
}
ul {
    text-align: center;
}
p {
    color:yellow;
    font-size:10px;
    text-align: center;
}
footer {
    text-align: center;
    background-color: #32a88b;
    color: #ffffff;
    border-radius: 10px;